@using MovieReviewApp.Dtos.Movie
@model List<Movie>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h1 class="text-center p-5">Movies</h1>
<div class="row card-container">
    @foreach (var movie in Model)
    {
        <div class="col-md-4 mb-4 movie-card">
            <div class="card">
                @if (movie.PosterImage==string.Empty)
                {
                    <img src="~/img/nophoto.png" class="card-img-top">
                }
                else
                {
                    <img src="~/img/Movie/@movie.PosterImage" class="card-img-top">
                }
                <div class="card-body">
                    <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <h5 class="card-title">@movie.Name</h5>
                    </a>
                </div>
            </div>
        </div>
    }
</div>