@using MovieReviewApp.Dtos.Account
@model RegisterDto
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Register</h2>
                <form method="post" asp-action="Register" asp-controller="Account">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="Email">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" asp-for="Username">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Username)</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" asp-for="Password">
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Register">
                </form>
                @if (ViewData.ModelState.Values.Count()>0)
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <div>@error.ErrorMessage</div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
